/.env
/.idea/
ci4/vendor
zmq/vendor
ci4/.env

#-------------------------
# Temporary Files
#-------------------------
/ci4/writable/cache/*
!/ci4/writable/cache/index.html

/ci4/writable/logs/*
!/ci4/writable/logs/index.html

/ci4/writable/session/*
!/ci4/writable/session/index.html

/ci4/writable/uploads/*
!/ci4/writable/uploads/index.html

/ci4/writable/debugbar/*
!/ci4/writable/debugbar/.gitkeep

/ci4/writable/tmp/*
!/ci4/writable/tmp/index.html

ci4/writable/**/*.db
ci4/writable/**/*.sqlite

php_errors.log
