.v-field__prepend-inner, .v-field__append-inner, .v-field__clearable {
  padding-top: 11px !important;
  font-size: 12px !important;
  margin-bottom: 11px;
}

.v-field__input {
  padding: 0.5rem !important;
  padding-left: .75rem !important;
  padding-right: .75rem !important;
  min-height: 1rem !important;
}

body,
.v-label,
.v-main,
.v-field {
  font-size: 13px;
}

.wrapper {
  background: #fff;
}

.gap-1,
.btn-list {
  gap: .5rem;
}

.v-btn {
  span {
    text-transform: none;
  }

  .v-btn__prepend {
    padding-left: .25rem;
  }
}


// Datatable
.v-table {
  background: transparent !important;
  table, table > * {
    background: transparent !important;
  }

  table tr th span {
    font-weight: 600;
    color: rgba(var(--v-theme-on-surface),var(--v-medium-emphasis-opacity));
    font-size: 13px;
  }

  table tr th,
  table tr td {
    background: var(--color-background) !important;
    font-size: 13px;
  }

  table tbody tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper)  {
    background: rgb(var(--v-theme-on-surface-variant));
  }
}

.v-data-table-footer {
  padding: 0 !important;

  .v-btn--icon.v-btn--size-default {
    font-size: 12px;
  }

  .v-data-table-footer__items-per-page {
    .v-field__outline {
      display: none;
    }

    .v-field__input .v-select__selection-text {
      font-size: 13px;
      margin-top: 2px;
    }
  }
}

.v-list {
  padding: 0 !important;

  .v-list-item-title {
    font-size: 12px !important;
  }

  .v-list-item:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.v-list-item--density-default.v-list-item--one-line {
  min-height: 32px !important;
}


.v-overlay {
  .overlay__content {
    height: unset;
  }

  .v-card {
    border-radius: .75rem;
    position: relative;
    //min-height: 200px;
    overflow: visible !important;

    > .v-divider {
      display: none;
    }

    > .dialog-content-wrapper,
    > .v-card-text {
      display: block;
      width: 100%;
      min-height: 200px;
      max-height: calc(100vh - 100px);
      overflow: hidden;
      overflow-y: auto !important;
      --overflow-scroll: touch;
      padding-top: 64px !important;
      padding-bottom: 64px !important;


      &:has(.tab-wrapper) {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 48px !important;
        padding-bottom: 0px !important;

        .v-tabs {
          min-height: 48px !important;
        }

      }

      &:has(.v-table) {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

    }

    > .v-card-text.pb-0 {
      padding-bottom: 24px !important;
    }

    .v-table {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .v-data-table-footer {
        align-self: end;
        justify-self: end;
        border-top: 1px solid #cdd3d5;
        width: 100%;
      }
    }

    .v-card-actions,
    .v-card-title {
      position: fixed !important;
      background: var(--vt-c-white-mute);
      z-index: 5;
      width: 100%;
      overflow: hidden;

      background: #e1e7e9;
    }


    .v-card-title {
      top: 0;
      border-radius: .22rem .22rem 0 0;
      background: #e9f0f2;
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 8px rgba(0, 0, 0, 0.1);
      background: #1a3b46;
      color: #fff;

    }

    .v-card-actions {
      bottom: 0;
      border-radius: 0 0 .22rem .22rem;
      box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);

    }

  }
}

.min-height-unset {
  min-height: unset !important;
}

.text-capitalize-first-letter:first-letter {
  text-transform: uppercase;
}
