[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log
innodb_data_file_path = ibdata1:10M:autoextend
skip-log-bin
max_allowed_packet = 1G
sql_mode = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

[mysql]
max_allowed_packet = 1G
